.orderCart {
  display: flex;
  gap: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.orderCartText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 610px;
  width: 100%;
  padding-right: 15px;
}

.cartProductPictures {
  max-width: 80px;
  height: 80px;
  width: 100%;
  padding: 10px;
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

.recycleBin {
  max-width: 30px;
  height: 100%;
  height: 30px;
  cursor: pointer;
}

.nameAndDescription h2 {
  margin-top: 10px;
}

.quantity {
  max-width: 100px;
  border: 2px solid black;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
  cursor: pointer;
}

.quantity span {
  font-size: 24px;
}
