.pageAboutWrapper {
  background-color: azure;
}

.pageAboutHolder {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
  color: black;
  padding-top: 70px;
}
