body {
  background-color: white;
  height: 100vh;
  width: 100%;
}

.navigationHolder {
  max-width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  width: 100%;
  gap: 30px;
  background-color: #66fcf1;
}

.navigation_link {
  max-width: 1200px;
  width: 100%;
  display: flex;
  gap: 25px;
  font-size: 24px;
  margin-right: auto;
}

.e_commerce {
  max-width: 120px;
  width: 100%;
  height: 50px;
  margin-left: 15px;
}

.shopping_cart {
  max-width: 40px;
  width: 100%;
  height: 40px;
  margin-right: 40px;
}
